/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

.todoCard {
  max-width: calc(100% - 30px);
  margin: 14px;
  height: 260px;
  box-shadow: -3px -4px 4px rgba(21, 57, 90, 0.03),
    3px 4px 4px rgba(21, 57, 90, 0.03);
  border-radius: 10px;
}
.dark {
  background-color: #15395a;
}
.white {
  color: white;
}
.mainCardContainer {
  padding: 21px;
  height: calc(100% - 21px * 2);
}
.TopContainer {
  display: flex;
  justify-content: space-between;
}
.whatToDo {
  display: block;
  text-align: center;
  margin: 10px 0 0 0;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.inline {
  border: none;
  box-sizing: border-box;
  border-bottom: 1px solid #00d7ff;
  max-height: 16px;
}

.bottomContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 36px;
  min-height: 35px;
}
.saveClearDoneStartContainer {
  /* background-color: wheat; */
  display: flex;
  align-items: center;
}
.starCupIcon {
  width: 15px;
  height: 15px;
  filter: drop-shadow(0px 3px 4px rgba(0, 215, 255, 0.25));
}
.operationContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.operation {
  display: inline-block;
  margin: 0;
}
.hidden {
  opacity: 0;
}

.selectedGroupContainer {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: -21px;
  width: 120px;
  height: 35px;
  border-radius: 0px 25px 25px 0px;
}
.selectedGroup {
  margin: 0 0 0 21px;
  display: block;
}
.groupList {
  margin: 0 0 0 -21px;
  padding: 9px 12px 10px 12px;
  position: absolute;
  width: 90px;
  top: 114px;
  background: #ffffff;
  box-shadow: -3px -4px 4px rgba(21, 57, 90, 0.05),
    3px 4px 4px rgba(21, 57, 90, 0.05);
  border-radius: 10px;
}
.groupList li {
  list-style-type: none;
}
.saveClearDoneIcon {
  width: 10px;
  height: 10px;
}
.clearIcon {
  padding: 3px 7px 3px 0;
  margin-right: 7px;
  border-right: 1px solid #b9c3c8;
}
.saveIcon {
  padding: 3px 7px 3px 0;
  margin-right: 7px;
  border-right: 1px solid #b9c3c8;
}
.startButton {
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #00d7ff;
}
