.todoCard {
  display: flex;
  position: relative;
  max-width: calc(100% - 30px);
  margin: 14px;
  height: 260px;
  box-shadow: -3px -4px 4px rgba(21, 57, 90, 0.03),
    3px 4px 4px rgba(21, 57, 90, 0.03);
  border-radius: 10px;
  font: HelveticaNeueCyr;
}
.dark {
  background-color: #15395a;
}
.white {
  color: white;
}
.mainCardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 19px 21px 33px 21px;
}
.topContainer {
  width: 100%;
}
.levelStarCupContainer {
  display: flex;
  justify-content: space-between;
}
.whatToDo {
  display: block;
  text-align: center;
  margin: 10px 0 10px 0;
  width: 100%;
  max-height: 44px;
  font-size: 20px;
  font-weight: bold;
  // line-height: 22px;
}
.inline {
  border: none;
  box-sizing: border-box;
  margin-bottom: 9px;
  border-bottom: 1px solid #00d7ff;
}

.bottomContainer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  // margin-bottom: 33px;
  min-height: 35px;
}
.saveClearDoneStartContainer {
  display: flex;
  align-items: center;
}
.starCupIcon {
  width: 19px;
  height: 19px;
  filter: drop-shadow(0px 3px 4px rgba(0, 215, 255, 0.25));
}
.operationContainer {
  display: flex;
  justify-content: center;
  margin-top: 28px;
}
.operation {
  display: inline-block;
  margin: 0;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #b9c3c8;
}
.hidden {
  opacity: 0;
}

.selectedGroupContainer {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: -21px;
  width: 120px;
  height: 35px;
  border-radius: 0px 25px 25px 0px;
}
.selectedGroup {
  margin: 0 0 0 21px;
  display: block;
}
// .groupContainer {
//   padding: 9px 12px 10px 12px;
// }
.groupContainer {
  margin: 0 0 0 -21px;
  padding: 9px 12px 10px 12px;
  position: absolute;
  width: 90px;
  top: 114px;
  background: #ffffff;
  box-shadow: -3px -4px 4px rgba(21, 57, 90, 0.05),
    3px 4px 4px rgba(21, 57, 90, 0.05);
  border-radius: 10px;
}
.groupList li {
  list-style-type: none;
  // font-size: 18px;
}
.saveClearDoneIcon {
  width: 20px;
  height: 20px;
}
.clearIcon {
  padding: 3px 7px 3px 0;
  margin-right: 7px;
  border-right: 1px solid #b9c3c8;
}
.saveIcon {
  padding: 3px 7px 3px 0;
  margin-right: 7px;
  border-right: 1px solid #b9c3c8;
}
.startButton {
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #00d7ff;
}
