.Box {
  position: absolute;
left: 15px;
top: 60px;

  z-index: 999999;
}

    @media (min-width: 768px) {
      .Box {
        position: absolute;
      left: 230px;
      top: 190px;
      z-index: 999999;
    }}


.logo {
  position: absolute;
  width: 99px;
  height: 24px;
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #00D7FF;
}

@media (min-width: 768px) {
  .Box {
    position: absolute;
  left: 230px;
  top: 190px;
  z-index: 999999;
}}

.title {
  position: absolute;
  width: 281px;
  height: 87px;
  top: 144px;
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.02em;
  color: #15395A;
}

.appeal {
  position: absolute;
  width: 250px;
  height: 45px;
  top: 261px;
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 45px;
  letter-spacing: 0.02em;
  color: #B9C3C8;
   }

   .inputEmail {
    display: flex;
    position: absolute;
width: 290px;
height: 18px;
top: 336px;
    border:none;
    border-bottom: 1px solid #00D7FF;  
    color: #00D7FF; 
   }

   .inputPassword {
    display: flex;
    position: absolute;
    width: 290px;
height: 18px;
top: 374px;
    border:none;
    border-bottom: 1px solid #00D7FF;  
    color: #00D7FF; 
   }

   .button {
    width: 52px;
    height: 52px;
    left: 134px;
    top: 415px;
        appearance: none;
        border-radius: 50%;
        border: 0;
        color: #FFFFFF;
        background-color: #FF851C;
        cursor: pointer;
        position: relative;
        font-family: HelveticaNeueCyr;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.02em;
   }

   /*body { 
        background: url(../../images/mobile/landing\ -\ mobile.jpg) 
       fixed;
       background-size: cover;
    }*/

    .Page { 
      background: fixed;
     background-size: cover;
  }