.box {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 999999;

  @media (max-width: 767px) {
    left: 100px;
  top: 80px;
    }

    @media (min-width: 768px) {
      left: 230px;
      top: 190px;
    }
}

.logo {
color:#00D7FF;
font-family: HelveticaNeueCyr;
font-size: 24px;
font-weight: 700;
letter-spacing: 0.02em;
}

.title {
    color: #15395A;
    font-family: HelveticaNeueCyr;
    line-height: 45px;
    letter-spacing: 0.02em;
    margin-top: 70px;
}

.appeal {
font-family: HelveticaNeueCyr;
font-weight: normal;
line-height: 45px;
margin-top: 35px;
letter-spacing: 0.02em;

color: #B9C3C8;
   }

   .input {
    display: flex;
    width: 196px;
    height: 18px;
    margin-top: 23px;
    border:none;
    border-bottom: 1px solid #00D7FF;  
    color: #00D7FF; 
   }

   .button {
        width: 56px;
        height: 56px;
        appearance: none;
        border-radius: 50%;
        border: 0;
        color: #FFFFFF;
        background-color: #FF851C;
        cursor: pointer;
        position: relative;
        font-family: HelveticaNeueCyr;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.02em;
        margin-top: 23px;
        margin-left: 145px;
   }

   body { 
        background: url(../../images/desktop/landing.jpg) 
       fixed;
       background-size: cover;
    }