.todoCard {
  max-width: 33%;
  min-width: 300px;
}
.dark {
  background-color: #15395a;
}
.white {
  color: white;
}
/* .saveClearDoneContainer {
} */
.starCupIcon {
  width: 15px;
  height: 15px;
}

.saveClearDoneIcon {
  width: 10px;
  height: 10px;
}
